In [1]:
from sklearn import preprocessing
import pandas as pd
import numpy as np

df = pd.read_csv("Datos/pokemon2.csv", nrows = 100000)
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [2]:
types1 = pd.get_dummies(df["Type 1"])
types2 = pd.get_dummies(df["Type 2"])
pd.set_option('max_rows', None)
pd.reset_option('max_rows')
types = types1 | types2


df_clean = pd.merge(df, types, left_index=True, right_index=True)

df_clean.dropna(thresh=28,inplace=True)
df_clean.drop(["Type 1", "Type 2"], axis = 1,inplace= True)
df_clean

,#,Name,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,1,Bulbasaur,45,49,49,65,65,45,1,False,...,0,1,0,0,0,1,0,0,0,0
1,2,Ivysaur,60,62,63,80,80,60,1,False,...,0,1,0,0,0,1,0,0,0,0
2,3,Venusaur,80,82,83,100,100,80,1,False,...,0,1,0,0,0,1,0,0,0,0
3,4,Mega Venusaur,80,100,123,122,120,80,1,False,...,0,1,0,0,0,1,0,0,0,0
4,5,Charmander,39,52,43,60,50,65,1,False,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,796,Diancie,50,100,150,100,150,50,6,True,...,0,0,0,0,0,0,0,1,0,0
796,797,Mega Diancie,50,160,110,160,110,110,6,True,...,0,0,0,0,0,0,0,1,0,0
797,798,Hoopa Confined,80,110,60,150,130,70,6,True,...,1,0,0,0,0,0,1,0,0,0
798,799,Hoopa Unbound,80,160,60,170,130,80,6,True,...,0,0,0,0,0,0,1,0,0,0
799,800,Volcanion,80,110,120,130,90,70,6,True,...,0,0,0,0,0,0,0,0,0,1

In [3]:
df_fights = pd.read_csv("Datos/combats.csv", nrows = 100000)
df_fights

       First_pokemon  Second_pokemon  Winner
0                266             298     298
1                702             701     701
2                191             668     668
3                237             683     683
4                151             231     151
...              ...             ...     ...
49995            707             126     707
49996            589             664     589
49997            303             368     368
49998            109              89     109
49999              9              73       9

[50000 rows x 3 columns]

In [4]:
# Limpieza y configuración de dataframes
# Se cambia el nombre de ambos IDs
df_fights.rename(columns = {'First_pokemon':'ID1', 'Second_pokemon':'ID2',
 'Winner': 'isFirstWinner'}, inplace = True)
df_fights.loc[df_fights['isFirstWinner'] == df_fights['ID1'], 'isFirstWinner'] = True
df_fights.loc[df_fights['isFirstWinner'] == df_fights['ID2'], 'isFirstWinner'] = False
df_fights.dropna(inplace=True)

df_fights

       ID1  ID2 isFirstWinner
0      266  298         False
1      702  701         False
2      191  668         False
3      237  683         False
4      151  231          True
...    ...  ...           ...
49995  707  126          True
49996  589  664          True
49997  303  368         False
49998  109   89          True
49999    9   73          True

[50000 rows x 3 columns]

In [5]:
# Igualamos el nombre de la columna del id a ID1
df_clean.rename(columns = {'#':'ID1'}, inplace= True)
df_clean.columns
df_fights.columns
#Añadimos todos los campos del 1er pokemon a la tabla
df_fights = df_fights.merge(df_clean, on='ID1')
df_fights.columns

Index(['ID1', 'ID2', 'isFirstWinner', 'Name', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'Bug', 'Dark',
       'Dragon', 'Electric', 'Fairy', 'Fighting', 'Fire', 'Flying', 'Ghost',
       'Grass', 'Ground', 'Ice', 'Normal', 'Poison', 'Psychic', 'Rock',
       'Steel', 'Water'],
      dtype='object')

In [6]:
df_fights

,ID1,ID2,isFirstWinner,Name,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,...,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel,Water
0,266,298,False,Larvitar,50,64,50,45,50,41,...,0,0,1,0,0,0,0,1,0,0
1,266,301,False,Larvitar,50,64,50,45,50,41,...,0,0,1,0,0,0,0,1,0,0
2,266,304,True,Larvitar,50,64,50,45,50,41,...,0,0,1,0,0,0,0,1,0,0
3,266,247,False,Larvitar,50,64,50,45,50,41,...,0,0,1,0,0,0,0,1,0,0
4,266,690,False,Larvitar,50,64,50,45,50,41,...,0,0,1,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,775,470,True,Goomy,45,50,35,55,75,40,...,0,0,0,0,0,0,0,0,0,0
49996,775,676,False,Goomy,45,50,35,55,75,40,...,0,0,0,0,0,0,0,0,0,0
49997,775,159,False,Goomy,45,50,35,55,75,40,...,0,0,0,0,0,0,0,0,0,0
49998,775,578,True,Goomy,45,50,35,55,75,40,...,0,0,0,0,0,0,0,0,0,0
49999,775,751,False,Goomy,45,50,35,55,75,40,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Igualamos el nombre de la columna del id a ID2
df_clean.rename(columns = {'ID1':'ID2'}, inplace= True)
#Añadimos todos los campos del 2º pokemon a la tabla
df_fights = df_fights.merge(df_clean, on='ID2')


df_fights = df_fights.drop(["ID1","ID2"], axis = 1)

In [8]:
#cambiamos true y false por ints 1 y 0 
df_fights["isFirstWinner"] = df_fights["isFirstWinner"].astype(int)
df_fights

,isFirstWinner,Name_x,HP_x,Attack_x,Defense_x,Sp. Atk_x,Sp. Def_x,Speed_x,Generation_x,Legendary_x,...,Ghost_y,Grass_y,Ground_y,Ice_y,Normal_y,Poison_y,Psychic_y,Rock_y,Steel_y,Water_y
0,0,Larvitar,50,64,50,45,50,41,2,False,...,0,1,0,0,0,0,0,0,0,0
1,0,Machop,70,80,50,35,35,35,1,False,...,0,1,0,0,0,0,0,0,0,0
2,0,Whiscash,110,78,73,76,71,60,3,False,...,0,1,0,0,0,0,0,0,0,0
3,1,Fan Rotom,50,65,107,105,107,86,4,False,...,0,1,0,0,0,0,0,0,0,0
4,1,Zangoose,73,115,60,60,60,90,3,False,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0,Scatterbug,38,35,40,27,25,35,6,False,...,0,1,0,1,0,0,0,0,0,0
49996,1,Skiploom,55,45,50,45,65,80,2,False,...,0,1,0,1,0,0,0,0,0,0
49997,1,Regigigas,110,160,110,80,110,100,4,True,...,0,1,0,1,0,0,0,0,0,0
49998,1,Exploud,104,91,63,91,73,68,3,False,...,0,1,0,1,0,0,0,0,0,0
49999,1,Aipom,55,70,55,40,55,85,2,False,...,0,1,0,1,0,0,0,0,0,0

In [9]:
# Vamos a normalizar todas las variables para que estén dentro de una misma escala, centrada en 0.
X_scaled = preprocessing.scale(df_fights.drop(["Name_x","Name_y"], axis=1))
df_scaled = pd.DataFrame(X_scaled)
df_scaled

,0,1,2,3,4,5,6,7,8,9,...,43,44,45,46,47,48,49,50,51,52
0,-0.944081,-0.754321,-0.462551,-0.766510,-0.851845,-0.790834,-0.929200,-0.800051,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,-0.227526,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
1,-0.944081,0.036914,0.026887,-0.766510,-1.157232,-1.328158,-1.134062,-1.405288,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,-0.227526,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
2,-0.944081,1.619384,-0.034292,-0.039467,0.094856,-0.038581,-0.280470,-0.194814,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,-0.227526,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
3,1.059231,-0.754321,-0.431961,1.035292,0.980480,1.250997,0.607265,0.410423,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,-0.227526,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
4,1.059231,0.155599,1.097533,-0.450404,-0.393764,-0.432618,0.743840,-0.194814,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,-0.227526,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,-0.944081,-1.229061,-1.349657,-1.082615,-1.401542,-1.686374,-1.134062,1.620898,-0.298316,3.146108,...,-0.240924,2.774649,-0.303847,4.395105,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
49996,1.059231,-0.556512,-1.043759,-0.766510,-0.851845,-0.253510,0.402403,-0.800051,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,4.395105,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
49997,1.059231,1.619384,2.474078,1.130123,0.217011,1.358462,1.085276,0.410423,3.352150,-0.317853,...,-0.240924,2.774649,-0.303847,4.395105,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
49998,1.059231,1.382013,0.363376,-0.355573,0.552938,0.033063,-0.007321,-0.194814,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,4.395105,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364
49999,1.059231,-0.556512,-0.279012,-0.608457,-1.004539,-0.611726,0.573121,-0.800051,-0.298316,-0.317853,...,-0.240924,2.774649,-0.303847,4.395105,-0.379725,-0.286794,-0.356676,-0.281905,-0.257228,-0.43364

In [29]:
from sklearn import tree
from sklearn.ensemble import RandomForestClassifier

df_scaled = df_scaled.sample(frac = 1)
dftest = df_scaled.tail(30000)
dfrest = df_scaled.head(20000)

In [26]:
#Arbol de regresión
clf = tree.DecisionTreeClassifier()

# Entrenaremos el objeto clf utilizando el método fit con la variable regresora X y la respuesta Y

X = dfrest.drop([0], axis=1)
X_test = dftest.drop([0], axis=1)

Y = dfrest[0] > 1
Y_test = dftest[0] > 1

clf = clf.fit(X, Y)
Y_pred = clf.predict(X)
Y_pred_test = clf.predict(X_test)

In [28]:
np.mean(Y_test == Y_pred_test)

0.9314666666666667

In [30]:
#Random forest
# Vamos a comparar con RandomForest, generamos 100 árboles y que utilice todos los núcleos de nuestro PC

clf = RandomForestClassifier(n_estimators = 100, n_jobs = -1)
clf.fit(X, Y)
Y_pred_test = clf.predict(X_test)

# Clasificamos las variables con mayor importancia, el retraso de salida DepDelay es el más aproximado.
clf.feature_importances_

array([0.03306473, 0.04756991, 0.02822   , 0.04069208, 0.03265649,
       0.23581428, 0.01574151, 0.00718444, 0.00305667, 0.00319389,
       0.00256417, 0.00324969, 0.00195972, 0.00240941, 0.00304572,
       0.00874708, 0.00474535, 0.00345314, 0.00314986, 0.00239604,
       0.00451805, 0.00286343, 0.00364434, 0.00356771, 0.00257243,
       0.00453435, 0.03244514, 0.04763368, 0.03005892, 0.04237567,
       0.03454747, 0.2231564 , 0.01559583, 0.00514981, 0.00298651,
       0.00341078, 0.00221822, 0.00304627, 0.00259584, 0.00251383,
       0.00286566, 0.00686822, 0.00520922, 0.00401929, 0.00421119,
       0.00212084, 0.00520093, 0.00294491, 0.00337864, 0.00366808,
       0.0026752 , 0.00448896])

In [31]:
np.mean(Y_test == Y_pred_test)

0.9291